*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  font-family: sans-serif;
  background-color: #2d2a2a;
  color: white;
}

#root{
  width: 100%;
  height: 100vh;
  padding: 20px;
  text-align: center;
}